.stars {
  float: left;
  overflow: hidden;
  height: 40px;
  width: 200px;
  margin: 0;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  box-sizing: border-box;
  height: 40px;
  width: 20%;
  float: right;
  cursor: pointer;
}

.stars label:after {
  display: block;
  float: right;
  color: var(--minor-dark);
  font-size: 36px;
  font-family: FontAwesome;
  content: "\f005";
  height: 40px;
  width: 36px;
  transition: all 0.15s;
}

.stars label:hover:after,
.stars label:hover ~ label:after {
  color: var(--star-gold) !important;
}

.stars input[type="radio"]:checked ~ label:after {
  color: var(--star-gold);
}
